[Unit]
Description=-------- MOVIT+ detect software (python)
After=network-online.target mosquitto.service
StartLimitIntervalSec=0

[Service]
# Set process niceness (priority) to maximum
#	(without being a near real-time process)
Nice=-20
Type=simple
# Ensures the process always restarts when it crashes
Restart=always
RestartSec=1
User=pi
Group=pi
StandardOutput=null
StandardError=journal
Environment=PYTHONPATH=/home/pi/MOvITPlus/MOvIT-Detect/python
ExecStart=/home/pi/MOvITPlus/MOvIT-Detect/python/venv/bin/python3 /home/pi/MOvITPlus/MOvIT-Detect/python/launcher.py 

[Install]
WantedBy=multi-user.target

