[submodule "MOvIT-Detect-Frontend"]
	path = MOvIT-Detect-Frontend
	url = ../MOvIT-Detect-Frontend.git
[submodule "MOvIT-Detect-Backend"]
	path = MOvIT-Detect-Backend
	url = ../MOvIT-Detect-Backend.git
[submodule "MOvIT-Detect"]
	path = MOvIT-Detect
	url = ../MOvIT-Detect.git
[submodule "MOvIT-Hardware"]
	path = MOvIT-Hardware
	url = ../MOvIT-Hardware.git
